@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/index";
@import "./partials/contacto";
@import "./partials/nosotros";
@import "./partials/sucursal";
@import "./partials/productos";
@import "./partials/footer.scss";

/*-----------IMPORT CDN BOOSTRAP----------*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


/*----------FONT-FACE-----------*/



@font-face {
    font-family: "hedvig", "Oswal";
    src: url("../fonts/hedvig.ttf");
}



/*----------KEYFRAMES-----------*/

 @keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }


 
 
  /*----------MEDIA QUERIES----------*/


@media (max-width: 1200px) {
    .icons-social {
    display: flex;
    align-items: center;
    margin-inline: 33rem;
    padding-top: 2rem;
    }
}

@media (max-width: 964px) {
    .icons-social {
    display: flex;
    align-items: center;
    margin-inline: 25rem;
    padding-top: 2rem;
    }
}

@media (max-width: 536px) {
    .icons-social {
    display: flex;
    align-items: center;
    margin-inline: 10rem;
    padding-top: 2rem;
    }
}

@media (max-width: 400px) {
    .icons-social {
    display: flex;
    align-items: center;
    margin-inline: 5rem;
    padding-top: 2rem;
    }
}