* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "hedvig", "Oswal";
    src: url("../fonts/hedvig.ttf");
}
/*------------HEADER------------*/

.img-icon {
    background-color: #090d18;
    color: #fcfcfc;
    padding: 15px;
    text-align: center;
}

.font-bluebird {
    font-family: "oswald";
    
}

.nav {
    display: grid;
    background-color: #090d18;
    font-family: "hedvig";
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    text-align: center;
}

a {
    text-decoration: none;
}

.nav a{
    display: grid;
    text-decoration: none;
    margin: 35px;
    color: #fcfcfc;
    align-items: center;
}

.nav a:hover {
    background-color: #0c1325;
}

.carrusel {
    background-color: #090d18;
    padding-inline: 25vh;
    padding-block-start: ;
    text-align: center;
}

/*-------------------------------*/

.background-color-general {
    background-color: #090d18;

}

.maps-map {
    display: grid;
    align-items: center;
}

.p1 {
    text-align: center;
    padding: 5%;
    font-family: "hedvig";
    border-radius: 10%;   
}

.p2 {
    
    color: #fcfcfc;
    background-color: #090d18;
    font-family: "hedvig";
    padding: 20px;
}

.cajita {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #090d18;
}


/*---------index video----------*/


.p3 {
    color: #fcfcfc;
    background-color: #090d18;
    text-align: center;
    padding-top: 1%;
    font-family: "hedvig";
}
/*FOOTER*/

.footer {
    color: #fcfcfc;
    background-color: #090d18;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10%;
    padding-bottom: 1%;
}

.span {
    color: rgb(255, 166, 0);
}

.span-footer {
    color: rgb(0, 81, 255);
}


