* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "hedvig", "Oswal";
    src: url("../fonts/hedvig.ttf");
}
/*------------HEADER------------*/

.img-icon {
    background-color: #090d18;
    color: #fcfcfc;
    padding: 12px;
    text-align: center;
}

.font-bluebird {
    font-family: "oswald";
    
}

.nav {
    display: grid;
    background-color: #090d18;
    font-family: "hedvig";
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

a {
    text-decoration: none;
}

.nav a{
    text-decoration: none;
    margin: 35px;
    color: #fcfcfc;
}

/*-------------------------------*/

.background-color-general {
    background-color: #2e2e2e;

}

.p1 {
    text-align: center;
    padding: 5%;
    font-family: "hedvig";
    border-radius: 10%;   
}

.p2 {
    
    color: #fcfcfc;
    background-color: #090d18;
    font-family: "hedvig";
    padding: 20px;
}

.cajita {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #090d18;
}


/*---------index video----------*/
.youtube {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #090d18;
}

.p3 {
    color: #fcfcfc;
    background-color: #090d18;
    text-align: center;
    padding-top: 1%;
    font-family: "hedvig";
}
/*FOOTER*/

.footer {
    color: #fcfcfc;
    background-color: #090d18;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10%;
    padding-bottom: 1%;
}

.span {
    color: red;
}



