.ctos__aling {
    background-color: $colorPrincipal;
    color: #fcfcfc;
    padding: 15px;
    text-align: center; 
}

.pd-contact {
    display: grid;
    padding-top: 3%;
    padding-inline: 10%;  
}