.footer {
    color: #fcfcfc;
    background-color: $colorPrincipal;
    justify-content: center;
    text-align: center;
    font-family: Verdana;
    padding-top: 10%;
    padding-bottom: 1%;
}

.span-footer {
    color: rgb(255, 166, 0); 
}

.icons-social {
    display: flex;
    align-items: center;
    margin-inline: 55rem;
    padding-top: 2rem; 
}

.icons-buttom {
    display: flex;
    list-style: none; 
    padding: 10px; 
    text-decoration: none;
    color: white;
    
    &:hover {
        text-decoration: none;
        color: #ffc861;
    }
 }

