.carrusel {
    background-color: #090d18;
    padding-inline: 25vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.p2 {
    color: #fcfcfc;
    background-color: #090d18;
    font-family: "hedvig";
    padding-inline: 100px;
    padding-block: 20px;
    align-items: center;
}
