.span {
    color: rgb(255, 166, 0);
}

.p3 {
    color: #eeaf03;
    font-family: "hedvig";
    background-color: $colorPrincipal;
    text-align: center;
    padding-top: 1%;
    font-family: "hedvig";
}

.p2 {
    color: #ff0404;
    background-color: $colorPrincipal;
    font-family: "hedvig";
    padding-inline: 100px;
    padding-block: 20px;
    align-items: center;
}

.cajita {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: $colorPrincipal;
}
