.background-color-general {
    background-color: #090d18;  
}

.p2 {
    color: #fcfcfc;
    background-color: #090d18;
    font-family: "hedvig";
    padding-inline: 100px;
    padding-block: 20px;
    align-items: center;
}

.cajita {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #090d18;
}