.p3__sucursal {
    color: rgb(255, 166, 0);
    font-size: 1.7rem;
    font-family: "hedvig";
    background-color: #090d18;
    text-align: center;
    padding-top: 1rem;
    font-family: "hedvig";
}

.maps__aling {
    background-color: #090d18;
    color: #fcfcfc;
    padding: 15px;
    text-align: center;
}

